* {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ccffaa, #1e5b53);
}

.main {
    padding: 40px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
}

.sentence {
    background: linear-gradient(to bottom left, #fff, #ddddda);
    padding: 40px;
    border-radius: 20px;
    transform: scale(1);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.6);
    transition-duration: 250ms;
}
.sentence:hover {
    transform: scale(1.02);
}

#showSentence {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* button {
    width: 50px;
    height: 50px;
} */
#createGame {
    width: 90%;
}

.container-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 20px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 1rem;
    box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.4);
}

.btn-text {
    width: 50%;
    color: #999999;
    outline: none !important;
}

.add-btn {
    width: 20%;
    transform: scale(1);
    background: linear-gradient(to bottom left, #172be8, #0ae8f8);
}

.launch-btn {
    width: 20%;
    background: linear-gradient(to bottom left, #ff0000, #ffa200);
    transform: scale(1);
}

.launch-btn,
.add-btn {
    transform: scale(1);
    transition-duration: 250ms;
}

.launch-btn:hover,
.add-btn:hover {
    transform: scale(1.05);
}

.playerlist {
    color: #fff;
    font: 1.7rem;
    max-height:200px;
    overflow-y: scroll;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 20px;
    margin-top: 40px;
} 

.li-title{
    display: block;
    padding: 0.8rem 0;
    font-size: 1.5rem;
}

.list-item {
    display: block;
    padding: 0.8rem 0;
}

.playerlist :nth-child(2){
    border-top: 1px solid;
}

@media screen and (max-width:480px) {
    .container-btn{
        flex-direction: column;
    }
    .btn{
        width: 100%!important;
        margin-right: 0!important;
        margin-top: 30px;

    }
}
